In [6]:
import numpy as np

In [7]:
col_num = 28

In [9]:
int(np.floor(28/26))

1

In [40]:
n =111234

In [30]:
power = 0
while n>26:
    #n = np.floor(n/26)
    #print(n)
    power +=1

4278.0
164.0
6.0

In [31]:
power

3

In [36]:
summ =0
for i in range(power):
    summ +=pow(26,i+1)

In [37]:
summ

18278

In [41]:
n - summ

92956

In [50]:
num = 92956-26
num

92930

In [51]:
num -= 25*26
num

92280

In [52]:
num -= 25*26*26
num

75380

In [53]:
num -=25*26*26*26

-364020

In [106]:
n = 8900

In [172]:
def colnum_to_name(d):
    col_name =""
    r = 0
    while d > 0:
        d,r = divmod(d,26)
        #print(d,r)
        #col_name += "Z" if r ==0 else chr(r+ord("A")-1) 
        #print(r)
        #r = r-1
        col_name += chr(r+ord("A")) 
    if r==0:
        col_name += chr(ord("A"))
    return col_name[::-1]

In [173]:
for n in range(1,100):
    print(colnum_to_name(n-1))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
BA
BB
BC
BD
BE
BF
BG
BH
BI
BJ
BK
BL
BM
BN
BO
BP
BQ
BR
BS
BT
BU
BV
BW
BX
BY
BZ
CA
CB
CC
CD
CE
CF
CG
CH
CI
CJ
CK
CL
CM
CN
CO
CP
CQ
CR
CS
CT
CU
CV
CW
CX
CY
CZ
DA
DB
DC
DD
DE
DF
DG
DH
DI
DJ
DK
DL
DM
DN
DO
DP
DQ
DR
DS
DT
DU

In [ ]:
n = 2
colnum_to_name(n-1)

In [158]:
colnum_to_name(2)

0 2

'C'

In [99]:
chr(r+ord("A")-1)

'@'

In [ ]:
28
13